<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://covid-zero.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e4cf0cb5-da11-460d-9a06-d80ba57ee86b/resourceGroups/Zero/providers/Microsoft.Web/sites/covid-zero</ResourceId>
    <UserName>$covid-zero</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://covid-zero.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>