.wrapper{
    width: 100%;
    padding: 10px;
}

.FaceDetectionContainer{
    height: 100%;    
    padding:10px;
    background: transparent !important;
    box-shadow: none !important;
}
.FaceDetectionContainer h4{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
}

.webContainer{
    height: calc(100% - 80px);
}