.wrapper{
    width: 100%;
    padding: 10px;
}

.FaceDetectionContainer{
    height: 100%;    
    padding:10px;
    background: transparent !important;
    box-shadow: none !important;
}
.FaceDetectionContainer h4{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
}

.analyzeButton{
    background-color: rgb(3, 189, 136) !important;
    margin-bottom: 15px !important;
}
.dashboardButton{
    background-color: rgb(48, 63, 159) !important;
    margin-bottom: 15px !important;
    float: right;
}

.webContainer{
    height: calc(100% - 80px);
}